<div class="sample">
<h2>Соглашения
(<a href="https://www.xkcd.ru/481/?transcription">пример</a>)</h2>
<ul>
<li>[описание сцены]
<li>Персонаж: Речь
<li>*звук* или Персонаж: *звук*
<li>Надпись: текст надписи

</ul>
<p>Чем лучше будет заполнена транскрипция, тем лучше будет
работать поиск.

</div>
