{% extends "base.html" %}

{% block title %}Транскрипция: {{ comics.title }}{% endblock %}
{% block content %}
<h1>Транскрипция: {{comics.title}}</h1>
<img src="{{ comics.image.url }}" border="0"  alt="{{comics.title}}">
{% include "transcript/sample.html" %}
<form class="transcription_edit" action="{% url 'transcript.add' comics.cid %}" method="post">
{% csrf_token %}
<table cellspacing=0 align="center">{{ form }}
<tr><th></th><td class="save">
<input type="submit" value="Отправить">
</td></tr>
</table>
</form>
<div class"clearer"></div>

{% endblock %}
