<a href="https://xkcd.com/{{obj.cid}}/" target=_blank><img border=0 alt="{{obj.title}}" src="{{obj.image.url}}"></a>
<p>{{ obj.text|safe }}
{% if obj.comment %}
<hr>
<p>{{ obj.comment|safe }}
{% endif %}
