<a href="https://xkcd.com/{{comics.cid}}/" target="_blank"><img src="{{comics.image.url}}" border="0" alt="{{comics.title}}"></a>
<p>
{{comics.text|safe}}
{% if comics.comment %}
<p><lj-cut text="дополнительная информация">
<hr size=1 width="80%">
<p>
{{comics.comment|safe}}
</lj-cut>
{% endif %}
