{% extends "base.html" %}

{% load static %}

{% block title %}{{comics.title}}{% endblock %}

{% block content %}
<h1>{{comics.title}}</h1>

{% ifequal lj "error" %}
<h2>Произошла ошибка: {{ msg }}</h2>
{% endifequal %}

{% ifequal lj "updated" %}
<h2>Запись обновлена.</h2>
{% endifequal %}

{% ifequal lj "published" %}
<h2>Запись создана.</h2>
{% endifequal %}

{% include "comics/navigation.html" %}
<div class="clearer"></div>

{% if code %}
<div class="code">
{% filter force_escape %}
{% include "comics/code.html" %}
{% endfilter %}
</div>
{% endif %}

{% ifequal comics.author user %}
<div class="buttons">
<form action="{% url 'comics.edit' comics.cid %}" method="post">
{% csrf_token %}
<input type="submit" name="edit" value="Редактировать">
</form>
</div>
{% endifequal %}

{% if user.is_staff %}
<div class="buttons">
{% if lj_post %}
<form action="{% url 'livejournal.post' comics.cid %}" method="post">
{% csrf_token %}
<input type="submit" name="update_lj" value="Обновить ЖЖ">
</form>
{% else %}
<form action="{% url 'livejournal.post' comics.cid %}" method="post">
{% csrf_token %}
<input type="submit" name="post_lj" value="Публиковать в ЖЖ">
</form>
{% endif %}
</div>
{% endif %}


{% include "comics/comics.html" %}

{% include "comics/navigation.html" %}

<div class="clearer"></div>

{% if user.is_authenticated %}
<form action="{% url 'transcript.show_form' comics.cid %}" method="get">
{% if comics.transcription %}
<input type="submit" value="Транскрипция">
{% else %}
<input type="submit" value="Задать транскрипцию ({{ unapproved }})">
{% endif %}
</form>
{% else %}
{% if comics.transcription %}
<script type="text/javascript">
  function toggle_transcription() {
    var transcription = document.getElementById('transcription');
    var transcription_button = document.getElementById('transcription_button');
    if ( transcription.style.display == "none" ) {
      transcription.style.display = "block";
      transcription_button.value = "Скрыть транскрипцию";
    } else {
      transcription.style.display = "none";
      transcription_button.value = "Показать транскрипцию";
    }
    return false;
  }
</script> 

<form action="" method="post">
{% csrf_token %}
{% if not show_transcription %}
<input name="show_transcription" type="hidden">
{% else %}
<input name="hide_transcription" type="hidden">
{% endif %}

<input type="submit" value={% if show_transcription %}"Скрыть транскрипцию"{% else %}"Показать транскрипцию"{% endif %} onclick="javascript:return toggle_transcription()" id="transcription_button">
</form>
{% else %}
<a href="{% url 'transcript.show_form' comics.cid %}" target="_blank">
<img border=0 src="{% static 'transcribe.png' %}" alt="Добавить транскрипцию">
</a>
{% endif %}
{% endif %}

<div class="bookmark">
{% include "comics/bookmark.html" %}
</div>

<div class="clearer"></div>
{% endblock %}
