{% extends "base.html" %}

{% load mail %}

{% block title %}{{comics.title}}{% endblock %}

{% block content %}

<img class="unpub_thumb" alt="thumbnail" src="{{ comics.thumbnail.url }}" align="right">

<h1>{{comics.title}}</h1>

<h2 class="unpublished">(неопубликованное)</h2>
{% if user.is_staff and publish %}
  <div class="buttons">
    Вы уверены, что хотите опубликовать?<br>
    <form action="{% url 'comics.publish' comics.cid %}" method="post">
      {% csrf_token %}
      <input type="submit" name="publish" value="Да">
      <input type="submit" name="lj" value="и в ЖЖ">
    </form>
    <form action="" method="post">
      {% csrf_token %}
      <input type="submit" name="no" value="Нет">
    </form>
  </div>
{% else %}
  {% if user.is_staff %}
    <div class="buttons">
      <form action="" method="post">
        {% csrf_token %}
        <input type="submit" name="publish" value="Опубликовать">
      </form>
      <form action="{% url 'comics.review' comics.cid %}" method="post">
        {% csrf_token %}
        {% if not comics.reviewed or not comics.ready %}
          <input type="submit" name="ready" value="Готов">
        {% endif %}
        {% if not comics.reviewed or comics.ready %}
          <input type="submit" name="noready" value="Не готов">
        {% endif %}
      </form>
    </div>
  {% endif %}
  {% ifequal comics.author user %}
    <div class="buttons">
      <form action="{% url 'comics.edit' comics.cid %}" method="post">
        {% csrf_token %}
        <input type="submit" name="edit" value="Редактировать">
      </form>
    </div>
  {% endifequal %}
{% endif %}

{% include "comics/comics.html" %}

{% if mail_set %} 
<div class="mail"
{% for mail in mail_set %}

<h2>{{ mail.safe_sender }} ({{ mail.date|timesince }} назад)</h2>
<p>{{ mail.message|format_mail|urlize }}
{% endfor %}
</div>
{% endif %}
<div class="clearer"></div>
{% endblock %}
