{% extends "base.html" %}

{% block title %}
{% if edit %}
Редактировать
{% else %}
Добавить
{% endif %}
{% endblock %}

{% block content %}
{% if comics %}
<h1>Предварительный просмотр</h1>
<div class="preview">
<img alt="thumbnail" src="{{ comics.thumbnail.url }}" align="right">
<h1>{{ comics.title }}</h1>
<a href="https://xkcd.com/{{comics.cid}}/" target=_blank>
<img border=0 alt="{{comics.title}}"src="{{ comics.image.url }}">
</a>

<div class="comics_text">{{ comics.text|safe }}</div>

{% if comics.comment %}
<div class="comment">
{{ comics.comment|safe }}
</div>
{% endif %}

</div>
{% endif %}


<h1><a name="edit">
{% if edit %}
Редактировать
{% else %}
Добавить
{% endif %}
</a></h1>

<form class="edit" enctype="multipart/form-data" method="post" action="">
{% csrf_token %}
<table cellspacing=0 align="center">{{ form }}
<tr><th></th><td class="save">
<input type="hidden" name="preview_id" {% if preview %}value="{{ preview.id }}"{% endif %}>
<input type="submit" name="continue" value="Сохранить и продолжить">
<input type="submit" value="Сохранить">
</td></tr>
</table>
</form>


{% endblock %}
