{% load static %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html><head><title>{% block title %}{% endblock %} - xkcd по-русски</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" >
<link rel="stylesheet" type="text/css" href="{% static 'xkcd.css' %}" media="screen">
<link rel="shortcut icon" href="{% static 'xkcd.ico' %}" type="image/x-icon">
<link rel="icon" href="{% static 'xkcd.ico' %}" type="image/x-icon">
<link rel="alternate" title="New on ru_xkcd" href="{% url 'latest-comics' %}" type="application/rss+xml">
</head>
<body>
{% if user.is_authenticated %}
<div class="sys">
<ul>
<li><a href="{% url 'comics.add' %}">add</a>
<li><a href="{% url 'comics.index_unpublished' %}">unpublished</a>
<li><a href="{% url 'transcript.list_unapproved' %}">transcriptions</a>
<li><a href="{% url 'profile.edit' %}">profile</a>
{% if user.is_staff %}
<li><a href="{% url 'admin:index' %}">admin</a>
{% endif %}
<li><a href="{% url 'statistics.show' %}">statistics</a>
<li><a href="{% url 'logout' %}">logout</a>
</ul>
<div class="clearer"></div>
</div>
{% endif %}


<!--div>
<font color=red>This is development version</font>
</div-->
<div class="main" align="center">

<ul class="lnk">
<li><a href="{% url 'comics.last' %}">last</a>
<li><a href="{% url 'comics.index_numbers' %}">nums</a>
<li><a href="{% url 'comics.index_thumbnail' %}">imgs</a>
<li><a href="{% url 'latest-comics' %}">RSS</a>
<li><a href="http://community.livejournal.com/ru_xkcd/profile/">lj</a>
<li><a href="https://xkcd.com/">xkcd</a>
<li><a rel="license" href="https://creativecommons.org/licenses/by-nc/2.5/">CC-by-nc</a>
</ul>
<div class="clearer"></div>
{% block content %}{% endblock %}
</div>
<script src="//www.google-analytics.com/urchin.js" type="text/javascript">
</script>
<script type="text/javascript">
_uacct = "UA-2617140-1";
urchinTracker();
</script>
</body>
</html>
