{% extends "base.html" %}

{% block title %}Вход{% endblock %}

{% block content %}
<h1>Вход</h1>

{% if form.has_errors %}
<p>Неправильное имя или пароль. Попробуйте ещё раз.</p>
{% endif %}

<form method="post" class="login" action=".">
{% csrf_token %}
<table align = "center">
<tr><td><label for="id_username">Имя:</label></td><td>{{ form.username }}</td></tr>
<tr><td><label for="id_password">Пароль:</label></td><td>{{ form.password }}</td></tr>
</table>

<input type="submit" value="Войти" />
<input type="hidden" name="next" value="{% if next %}{{ next }}{% else %}{% url 'comics.index_unpublished' %}{% endif %}" />
</form>
{% endblock %}
